body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    /* margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around; */
    
    height: 100vh;
}
.mainContainer{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.login-container {
    background-color: #D5F8E7;
    border: 3px solid;
    padding: 20px;
    border-radius: 20px;
    border-color: #2c8b73;
    text-align: center;
    margin-left: -150px;
    width: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 10px;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#loginMessage {
    color: red;
}
#adimg{
    width: 500px;
    height: 500px;
    margin-right: -200px;
}
#adimg>img{
    height: 100%;
    width: 100%;
}


/************************** Navbar ******************************/

.navbar {
    max-width: 100%;
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7FC1B1;
    padding: 1.5% 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    margin-top: -11px;
    margin-bottom: -70px;
}

.logo-gradient-text {
    font-size: 2.5rem;
    background: linear-gradient(45deg,
            #e6fcf1,
            #cbfee5,
            #bbf9db,
            #cbfee5,
            #e6fcf1);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 1.5px 1.5px 2px #D5F8E7;
    font-weight: bold;
    cursor: pointer;
}

.menues {
    display: flex;
    align-items: center;
}

.menu {
    text-decoration: none;
    color: white;
    margin: 0 25px;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
}

.menu:hover {
    color: #D5F8E7;
    border-bottom: 2px solid #D5F8E7;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.loginbtn {
    background: linear-gradient(90deg,
            #e1fdef,
            #d0f9e5,
            #c9fce2,
            #d0f9e5,
            #e1fdef);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.loginbtn:hover {
    transform: scale(1.05);
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.hamburger-btn {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}
@media all and (max-width:750px){
/* navbar */
.logo-gradient-text {
    font-size: 1.5rem;
}
.loginbtn{
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 8px;
}
.menu{
    font-size: 1rem;
    margin: 0 10px;
}

}
@media only screen and (max-width: 500px) {
    .navbar{
        padding: 6% 5%;
    }
    .menues {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 68px;
        right: 0; 
        width: 40%;
        background-color: #7FC1B1;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 99;
    }
    
    .menu {
        margin: 10px;
        font-size: .9rem;
    }
    
    .hamburger-btn {
        display: block;
    }

    .loginbtn{
        padding: -10px 5px;
        font-size: 0.8rem;
        border-radius: 5px;
        margin-right: 10px;
    }
}