/* CSS */
body {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
    overflow-x: hidden;

}

#summary {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    background-color: #D5F8E7;
}
#summary >p{
    font-size: large;
    font-weight:500;
}
#totalLoanAmount, #totalAmountPaid, #remainingAmount {
    margin: 0;
}
#cutomerheader{
    width: 100%;
    height: 50px;
    background-color: #d4f5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}
.customer-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5%;
    border-radius: 8px;
    background-color: #D5F8E7;
    width: calc(50% - 20px);    
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.customer-card:nth-child(2n) {
    margin-right: 0; 
}

#pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#pagination button {
   margin: 0px 20px;
   padding: 5px 20px;
    cursor: pointer;
    background-color: #D5F8E7;
    border-radius: 5px;
}

#pieChart {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border-radius: 8px;
}
.pieChart{
    display: flex;
    justify-content: space-around;
    height: 400px;
    padding-bottom: 3%;

}
.pieChart > img {
    width: 400px;
}
#customerDetails{
    /* background-color: gray; */
    display: grid;;
    grid-template-columns: repeat(3,3fr);
    padding-left: 10%;
    
   
}
#customerDetails>div:hover {
    transform: scale(1.05);


}
#customerDetails>div{
    padding: 1% 5% ;
    transition: transform 0.3s ease;
    width: 300px;
}
@media (max-width: 1130px){
    #customerDetails{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 791px){
    #customerDetails{
        grid-template-columns: repeat(1,1fr);
    }
}

/*  */

/************************** Navbar ******************************/

.navbar {
    max-width: 100%;
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7FC1B1;
    padding: 1.5% 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    margin-top:-11px;
}

.logo-gradient-text {
    font-size: 2.5rem;
    background: linear-gradient(45deg,
            #e6fcf1,
            #cbfee5,
            #bbf9db,
            #cbfee5,
            #e6fcf1);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 1.5px 1.5px 2px #D5F8E7;
    font-weight: bold;
    cursor: pointer;
}

.menues {
    display: flex;
    align-items: center;
}

.menu {
    text-decoration: none;
    color: white;
    margin: 0 25px;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
}

.menu:hover {
    color: #D5F8E7;
    border-bottom: 2px solid #D5F8E7;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.Signoutbtn{
    background: linear-gradient(90deg,
            #e1fdef,
            #d0f9e5,
            #c9fce2,
            #d0f9e5,
            #e1fdef);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.Signoutbtn:hover {
    transform: scale(1.05);
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.hamburger-btn {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}
@media all and (max-width:750px){
/* navbar */
.logo-gradient-text {
    font-size: 1.5rem;
}
.Signoutbtn{
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 8px;
}
.menu{
    font-size: 1rem;
    margin: 0 10px;
}

}
@media only screen and (max-width: 500px) {
    .navbar{
        padding: 6% 5%;
    }
    .menues {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 68px;
        right: 0; 
        width: 40%;
        background-color: #7FC1B1;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 99;
    }
    
    .menu {
        margin: 10px;
        font-size: .9rem;
    }
    
    .hamburger-btn {
        display: block;
    }

    .Signoutbtn{
        padding: -10px 5px;
        font-size: 0.8rem;
        border-radius: 5px;
        margin-right: 10px;
    }
}
#adminPage{
    display: flex;
    justify-content: space-between;
}
#getDetails{
    height: 50px;
    padding-left: 5%;
}
#getDetails>button{
padding: 0.5%;
cursor: pointer;
background-color: #2e97d0;
border-radius: 7px;
transition: transform 0.3s ease;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 700;
margin-left: 20px;
color: white;
}
#getDetails>button:hover{
    color: #000;
   transform: scale(1.05);
}

#applications{
    display: none;
}
/* Application------------>>>>>>>>>>>> */

.application {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    /* background-color: #fff; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.application p {
    margin: 8px 0;
}

.accept-button,
.reject-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.reject-button {
    background-color: #f44336;
}

.accept-button:hover,
.reject-button:hover {
    opacity: 0.8;
}
