body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/************************** Navbar ******************************/

.navbar {
    max-width: 100%;
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7FC1B1;
    padding: 1.5% 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo-gradient-text {
    font-size: 2.5rem;
    background: linear-gradient(45deg,
            #e6fcf1,
            #cbfee5,
            #bbf9db,
            #cbfee5,
            #e6fcf1);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 1.5px 1.5px 2px #D5F8E7;
    font-weight: bold;
    cursor: pointer;
}

.menues {
    display: flex;
    align-items: center;
}

.menu {
    text-decoration: none;
    color: white;
    margin: 0 25px;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
}

.menu:hover {
    color: #D5F8E7;
    border-bottom: 2px solid #D5F8E7;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.loginbtn {
    background: linear-gradient(90deg,
            #e1fdef,
            #d0f9e5,
            #c9fce2,
            #d0f9e5,
            #e1fdef);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.loginbtn:hover {
    transform: scale(1.05);
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.hamburger-btn {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}
@media all and (max-width:750px){
/* navbar */
.logo-gradient-text {
    font-size: 1.5rem;
}
.loginbtn{
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 8px;
}
.menu{
    font-size: 1rem;
    margin: 0 10px;
}

}
@media only screen and (max-width: 500px) {
    .navbar{
        padding: 6% 5%;
    }
    .menues {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 68px;
        right: 0; 
        width: 40%;
        background-color: #7FC1B1;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 99;
    }
    
    .menu {
        margin: 10px;
        font-size: .9rem;
    }
    
    .hamburger-btn {
        display: block;
    }

    .loginbtn{
        padding: -10px 5px;
        font-size: 0.8rem;
        border-radius: 5px;
        margin-right: 10px;
    }
}

/******************************** Header **********************************/
header {
    max-width: 100%;
    background-color: #D5F8E7;
    margin: auto;
    padding: 4% 5% 3% 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header-top {
    display: flex;
    justify-content: space-around;
}
.header-top-left{
    width: 50%;
}

.header-top-right{
    width: 50%;
}
.header-top-left h1 {
    font-size: 4vw;
}
.header-top-left p {
    font-size: 1.2vw;
    width: 80%;
}
.gradient-text {
    background: linear-gradient(45deg,
            #98decd,
            #71b4a4,
            #57a693,
            #71b4a4,
            #98decd);
    -webkit-background-clip: text;
    color: transparent;
}

.getStartedBtn {
    border: none;
    border-radius: 10px;
    padding: 15px 40px;
    margin: 3% 0;
    cursor: pointer;
    color: rgb(225, 225, 225);
    font-size: 16px;
    transition: transform 0.3s ease;
    background: linear-gradient(45deg,
            #98decd,
            #71b4a4,
            #57a693,
            #71b4a4,
            #98decd);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.getStartedBtn:hover {
    transform: scale(1.05);
}

.header-top-right {
    perspective: 900px;
    padding-right: 3%;
}

.header-top-right img {
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: rotateY(-20deg);
    transform-origin: center;
    transition: transform 0.5s ease;
    margin-top: 30px;
}

.header-top-right img:hover {
    transform: rotateY(0deg);
    cursor: pointer;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(138, 136, 136);
}

.header-bottom-left {
    display: flex;
    width: 50%;
    gap: 10%;
}

.header-bottom-left>div {
    cursor: pointer;
}
.header-bottom-left>div p{
    font-size: 1vw;
}
.header-bottom-left>div h2{
    font-size: 1.5vw;
}
.header-bottom-left>div:hover {
    color: black;
}

.header-bottom-right {
    width: 50%;
}
.header-bottom-right p{
    font-size: 1.3vw;
}
.partners>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7%;
    cursor: pointer;
    font-size: 1vw;
}

.partners>div:hover {
    color: black;
}

.partners {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6%;
}

@media (max-width: 850px) {
    .getStartedBtn {
        padding: 10px 20px;
        font-size: 12px;
        border-radius: 10px;
    }
    .header-top-left p{
        width: 90%;
    }
    .header-top-left p{
        font-size: 1.4vw
    }
    
}
@media (max-width: 600px) {
    .getStartedBtn {
        padding: 8px 15px;
        font-size: 1.5vw;
        border-radius: 7px;
    }
    .header-top-left p{
        font-size: 1.7vw;
    }
}
@media (max-width: 400px) {
    .header-top{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .header-top-left{
        width: 100%;
    }
    .header-top-right{
        width: 90%;
        margin: auto;
    }
    .getStartedBtn {
        padding: 10px 25px;
        font-size: 3vw;
        border-radius: 7px;
    }
    .header-top-left p{
        font-size: 3vw;
    }
    .header-bottom-left>div p{
        font-size: 1.4vw;
    }
    .header-bottom-left>div h2{
        font-size: 2.5vw;
    }
    .header-bottom-right p{
        font-size: 2.5vw;
    }
    .partners>div {
        font-size: 1vw;
    }
}

/************************* How it Works *************************/
.section-title {
    text-align: center;
    color: #7FC1B1;
    font-size: 1.5vw;
    margin-top: 70px;
}

.heading {
    text-align: center;
    font-size: 2.8vw;
    margin-top: -10px;
}

.steps {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 5%;
}
.steps-right{
    width: 45%;
    display: flex;
    text-align: center;
    align-items: center;
}
.steps-right>img {
    width: 80%;
    object-fit: cover;
    margin-top: -50px;
}

.steps-left{
    width: 55%;
}
.steps-left>div {
    display: flex;
    align-items: center;
    width: 100%;
}

.steps-left>div div:nth-child(2) {
    width: 80%;
    text-align: left;   
}

.steps-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #7FC1B1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 4%;
}
.steps-content h2{
    font-size: 1.5vw;
}
.steps-content p{
    font-size: 1.2vw;
}
.steps-left>div:not(.active) {
    opacity: 0.4; 
}
.steps-circle h2{
    font-size: 2vw;
}
@media (max-width: 1000px) {
    .steps-right>img {
        width: 90%;     
    } 
    
.steps-circle {
    width: 40px;
    height: 40px;
}
}
@media (max-width: 800px) {
    .steps-right>img {
        width: 80%;
        margin-top: -10px;     
    } 
    .steps{
        gap: 0;
    }
    .steps-right, .steps-left{
        width: 50%;
    }
    .steps-left{
        margin-top: 10px;
    }
    .steps-circle{
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 650px) {
.steps-circle {
    width: 20px;
    height: 20px;
}
.section-title{
    margin-top: 30px;
    margin-bottom: 15px;
}
}
@media (max-width: 400px){
    .section-title{
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 2.2vw;
    }
    .steps{
        flex-direction: column;
    }
    .steps-left, .steps-right{
        width: 100%;
        margin: auto;
    }
    .steps-right>img {
        width: 80%;
        margin: auto;
    }
    
.steps-left>div div:nth-child(2) {
    width: 100%;
}

.steps-circle {
    width: 44px;
    height: 40px;
}
.steps-circle h2{
    font-size: 4vw;

}
.steps-content h2{
    font-size: 3.5vw;
}
.steps-content p{
    font-size: 2.4vw;
}
}
/************************* Services *************************/

.section-subheading {
    margin-top: -15px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.1vw;
    width: 80;
    margin: auto;
}
.service {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}
.service>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.8rem 1.5rem;
    border-bottom: 1px solid #7FC1B1;
}
.service i {
    margin-right: 10%;
}
.service h2 {
    color: #7FC1B1;
    font-size: 2vw;
    width: 40%;
}
.service p {
    width: 55%;
    font-size: 1.2vw;
}
.service > div.active {
    box-shadow: rgba(82, 124, 113, 0.1) 0px 4px 16px, rgba(82, 124, 113, 0.1) 0px 8px 24px, rgba(82, 124, 113, 0.1) 0px 16px 56px;
}
.service > div:not(.active) {
    opacity: 0.4;
}
@media (max-width: 600px) {
   .section-subheading{
    margin-top: 0;
    margin-bottom: 15px;
   }
.service>div { 
    padding: 0px 0px;
}
}
@media (max-width: 400px) {
    .section-subheading{
        font-size: 10px;
    }
  .service>div{
    flex-direction: column;
    padding: 2%;
  }
  .service h2 {
    font-size: 4vw;
    width: 100%;
    margin: 0;
}
.service p {
    width: 100%;
    font-size: 2vw;
}
}
/************************ Features **************************/
.feature-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.feature-box {
    height: 26vw;
    margin: 1% 2%;
    background-size: cover;
    color: black;
    padding: 4% 5%;
    padding-bottom: 7%;
    text-align: left;
    border-radius: 3vw;
    transition: transform 0.4s ease;
    background: linear-gradient(rgba(213, 248, 231, 0.9), rgba(213, 248, 231, 0.9)), url('../images/black-calc.jpg') center/cover;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
}

.feature-box:hover {
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.feature-box h2{
    font-size: 2vw;
}
.feature-box h1{
    font-size: 2.5vw;
}
.feature-box p{
    font-size: 1vw;
    line-height: 1.8vw;
}
.leftbox {
    width: 60%;
}

.leftbox>p {
    width: 80%;
}

.rightbox {
    width: 40%;
}

.rightbox>p {
    cursor: pointer;
}

.rightbox>p:hover {
    width: 90px;
    border-bottom: 2px solid black;
}
.feature-box>.getStartedBtn{
    width: 12vw;
    height: 3.3vw;
    font-size: 1vw;
    padding: 0;
    border-radius: 0.7vw;
}

@media all and (max-width:400px){
    .feature-container {
        flex-direction: column;
        width: 100%;
    }
    .leftbox, .rightbox{
        width: 60%;
        height: 40vw;
    }
    .feature-box h2{
        font-size: 2vw;
    }
    .feature-box h1{
        font-size: 3vw;
    }
    .feature-box p{
        font-size: 1.8vw;
        line-height: 1.8vw;
    }
    .feature-box>.getStartedBtn{
        width: 18vw;
        height: 4vw;
        font-size: 1.5vw;
        border-radius: .5vw;
    }
}
/*********************** Testimonial *****************************/
 .swiper{
    width: 100%;
  }
  .swiper-wrapper{
    width: 100%;
    height: 35vw;
    display: flex;
    align-items: center;
  }
  .card{
    width: 16.5vw;
    height: auto;
    background-color: #7FC1B1;
    border-radius: 2vw;
    padding: 2vw 1.1vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 2vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  /* .swiper-slide:not(.swiper-slide-active){
    filter:blur(.5px);
  } */
  .card-image{
    width: 7vw;
    height: 7vw;
    border: .3vw solid #D5F8E7;
    padding: 1px;
    border-radius: 50%;
  }
  .card-image>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  .card-content{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .card-content div{
    margin-top: -10px;
  }
  .username{
    position: relative;
    top: .2vw;
    font-size:1.5vw;
    font-weight: 600;
  }
  .designation{
    margin-top:-10px ;
    font-size: 1.1vw;
  }
  .card-content div{
    font-size: 1.1vw;
  }
  .card-text{
    margin-top: 1.2vw;
    text-align: inherit;
    font-size: 1.1vw;
  }
  @media all and (max-width:800px){
    .card{
        width: 25vw;
      }
      
      .username{
        font-size:2vw;
      }
      .designation{
        margin-top:-8px;
        font-size: 1.5vw;
      }
      .card-content div{
        margin-top: 0px;
        font-size: 1.8vw;
      }
      .card-text{
        font-size: 1.5vw;
      }
  }
  @media all and (max-width:600px){
    .card{
        width: 35vw;
      }
  }
 
/*********************** Branches ***************************/
.branches {
    width: 80%;
    margin: 5% auto;
    text-align: center;
    padding: 2% 5%;
    background-color: #D5F8E7;
    border-radius: 2.5vw;
}

.branches>.section-title {
    margin-top: 2%;
}

iframe {
    width: 100%;
    height: 25vw;
    margin: 2% 0;
    border-radius: 2.5vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


/************************* Footer ****************************/
.footer {
    background-color: #7FC1B1;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 3%;
    text-align: left;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.footer-top h1 {
    font-size: 4vw;
    width: 80vw;
}

.footer-top h1>span {
    background: linear-gradient(45deg,
            #e6fcf1,
            #cbfee5,
            #bbf9db,
            #cbfee5,
            #e6fcf1);
    -webkit-background-clip: text;
    color: transparent;
    cursor: pointer;
}

.contactusbtn {
    width: 12vw;
    font-size: 1.2vw;
    border: 0;
    padding: 1vw 2vw;
    border-radius: 1.2vw;
    font-size: 1.2vw;
    background: linear-gradient(45deg,
            #e6fcf1,
            #cbfee5,
            #bbf9db,
            #cbfee5,
            #e6fcf1);
    color: black;
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;

}

.contactusbtn:hover {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    color: gray;
}

hr {
    width: 95%;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 4vw;
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
}

.footer-bottom p , .copyright{
    color: rgb(62, 62, 62);
    font-size: 1.1vw;
}

.social-icons{
    display: flex;
}

.social-icons>div {
    width: 1.5vw;
    height: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2%;
    cursor: pointer;
    border: .15vw solid;
    padding: .5vw;
    border-radius: 50%;
    transition: transform 0.4s ease;
}
.social-icons i{
    font-size: 1.7vw;
}
.social-icons>div:hover {
    transform: scale(0.33);
}

    .footer-bottom>div {
    width: 30%;
}
.Footerheading{
    font-size: 1.5vw;
}
.quickmenues>div{
    display: flex; 
    gap: 8vw;
}
.quickmenues a{
    text-decoration: none;
    color: rgb(62, 62, 62)
}
.quickmenu {
    cursor: pointer;
}

.quickmenu:hover {
    width: 70px;
    color: black;
    border-bottom: 2px solid;
}

.location>p {
    cursor: pointer;
}

.location>p:hover {
    color: black;
}

.copyright{
    color:  rgb(62, 62, 62);
    text-align: end;
}

@media all and (max-width:400px){
    .footer-top h1{
        font-size: 5vw;
    }
   .footer-bottom{
        flex-direction: column;
   }
   .footer-bottom h2{
    font-size: 3.5vw;
   }
   .footer-bottom p{
    font-size: 3vw;
   }
   .footer-bottom>div{
    width: 100%;
   }
   .contactusbtn{
    font-size: 2vw;
   }
   .copyright{
    font-size: 1.6vw;
   }
} 