
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  padding: 0% 5% 0% 2%; 
}

@media all and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}  

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 20px;
}
h1{
  font-family :Verdana, Geneva, Tahoma, sans-serif;
}
h2,h1 {
  color: #333;
}


.forms>form {
  max-width: 800px;
  margin: 20px auto;
  padding: 90px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

input {
  width: 100%;
  padding: 6px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #7ab8af;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.loan-calculator {
    font-family: "Roboto", sans-serif;
    width: 600px;
    margin: 24px auto;
    background: #fff;
    box-shadow: 0 12px 50px -11px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: #14213d;
    overflow: hidden;
  }
  
  .loan-calculator,
  .loan-calculator * {
    box-sizing: border-box;
  }
  
  .loan-calculator .top {
    background: #7FC1B1;
    color: #fff;
    padding: 32px;
  }
  
  .loan-calculator .top h2 {
    margin-top: 0;
  }
  
  .loan-calculator form {
    display: flex;
    gap: 8px;
    justify-content: space-between;
  }
  
  .loan-calculator .title {
    margin-bottom: 16px;
  }
  
  .loan-calculator form input {
    font-size: 20px;
    padding: 8px 10px;
    width: 100%;
  }
  
  .loan-calculator #ipts{
    text-align: center;
    align-items: center;
    align-content: center;
  }
  .loan-calculator .result {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .loan-calculator .result .left {
    width: 100%;
    padding: 8px 32px;
  }
  
  .loan-calculator .left h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
  }
  
  .loan-calculator .result .value {
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: 1px solid red;
  }
  
  .loan-calculator .result .value::before {
    content: "₹";
    font-size: 24px;
    font-weight: 400;
    margin-right: 6px;
    opacity: 0.4;
  }
  
  .loan-calculator .calculate-btn {
    background: #e63946;
    color: #fff;
    border: none;
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 900;
    cursor: pointer;
    margin: 24px 0;
    cursor: pointer;
  
  }
  .calculate-btn:hover{
   scale: 1.1;
  transition: all 0.3s ease-in-out;
  background-color:#14213d;
  }

  #forms>div{
    display: flex;
    flex-direction: column;
   align-content: center;
   text-align: center;
  }
  
  .loan-calculator .right {
    width: 50%;
  }
  
  @media (max-width: 650px) {
    .loan-calculator {
      width: 90%;
      max-width: 500px;
    }
  
    .loan-calculator form {
      flex-direction: column;
      gap: 20px;
    }
  
    .loan-calculator .result {
      flex-direction: column;
      text-align: center;
    }
  }