.input-group-icon,
.wrapper-input-group {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.input-group-icon {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  transform: scale(1.686);
}
.wrapper-input-group {
  margin: 0 !important;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.want-to-reach {
  position: relative;
  letter-spacing: 0.22px;
  line-height: 31px;
  z-index: 1;
}
.lorem-ipsum-dolor {
  width: 377px;
  height: 97px;
  position: relative;
  font-size: var(--desktop-body-size);
  line-height: 32px;
  display: flex;
  align-items: center;
  max-width: 100%;
  z-index: 1;
}
.header-instance {
  width: 874px;
  margin: 0 !important;
  position: absolute;
  top: -325px;
  right: -197px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 620px 138px 114px;
  box-sizing: border-box;
  gap: var(--gap-xs);
  max-width: 100%;
}
.input-label {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 51px;
  height: 30px;
  overflow: hidden;
}
.financeflow-icon {
  position: absolute;
  top: 9px;
  left: 63px;
  width: 91.3px;
  height: 11.8px;
}
.input-label-parent {
  align-self: stretch;
  height: 30px;
  position: relative;
}
.headerlogo {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.e4a1e73807564ccfe7fb93-logo-cr,
.e4a1e73807564ccfe7fb93-logo-cr1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.e4a1e73807564ccfe7fb93-logo-cr1 {
  flex: 1;
}
.e4a1e73807564ccfe7fb93-logo-cr {
  width: 154px;
}
.div {
  align-self: stretch;
  width: 1px;
  position: relative;
  background-color: var(--color-gray-200);
}
.about,
.blog,
.contact-us1,
.home,
.pricing,
.tokens {
  position: relative;
  letter-spacing: 1.4px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.contact-us1 {
  text-decoration: underline;
  white-space: nowrap;
}
.nav1,
.navigation {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.navigation {
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
  padding: 7px var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-xl);
}
.nav1 {
  align-self: stretch;
  width: 720px;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.button {
  position: relative;
  font-size: var(--desktop-body-2-size);
  letter-spacing: 1.6px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: var(--desktop-body-2);
  color: var(--white);
  text-align: center;
  white-space: nowrap;
}
.button-1,
.header,
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.button-1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl);
  background-color: var(--green-green);
  width: 210px;
  border-radius: var(--br-61xl);
  justify-content: center;
  white-space: nowrap;
}
.button-11:hover,
.button-1:hover {
  background-color: var(--color-olivedrab);
}
.header,
.nav {
  align-self: stretch;
  max-width: 100%;
}
.nav {
  width: 1246px;
  justify-content: space-between;
  padding: 0 var(--padding-5xl);
  gap: var(--gap-xl);
}
/* .header {
  height: 132px;
  justify-content: center;
  padding: 33px;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--white);
  font-family: var(--desktop-body-2);
} */
.get-in-touch {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -1px;
  line-height: 79.99px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.title {
  position: relative;
  letter-spacing: 0.9px;
  line-height: 25.99px;
  text-transform: uppercase;
}
.divplaceholder {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 27px;
  flex: 1;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
  font-family: var(--desktop-body-2);
  font-size: var(--desktop-body-size);
  color: var(--white);
  min-width: 193px;
}
.divplaceholder,
.input,
.inputname {
  display: flex;
  max-width: 100%;
}
.inputname {
  align-self: stretch;
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--green-bg);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xl) var(--padding-xl) var(--padding-xl);
  border: 2px solid;
}
.input {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  min-width: 237px;
}
.title1 {
  position: relative;
  letter-spacing: 0.9px;
  line-height: 25.99px;
  text-transform: uppercase;
}
.divplaceholder1,
.inputname1 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.divplaceholder1 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 27px;
  flex: 1;
  overflow: hidden;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  font-family: var(--desktop-body-2);
  font-size: var(--desktop-body-size);
  color: var(--white);
  min-width: 193px;
}
.inputname1 {
  align-self: stretch;
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--green-bg);
  justify-content: center;
  padding: var(--padding-2xl) var(--padding-xl) var(--padding-xl);
  border: 2px solid;
}
.input1,
.insta-icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
  min-width: 237px;
  z-index: 1;
}
.insta-icon {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-6xl);
}
.title2 {
  position: relative;
  letter-spacing: 0.9px;
  line-height: 25.99px;
  text-transform: uppercase;
}
.divplaceholder2 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 27px;
  flex: 1;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
  font-family: var(--desktop-body-2);
  font-size: var(--desktop-body-size);
  color: var(--white);
  min-width: 193px;
}
.divplaceholder2,
.input2,
.inputname2 {
  display: flex;
  max-width: 100%;
}
.inputname2 {
  align-self: stretch;
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--green-bg);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-2xl) var(--padding-xl) var(--padding-xl);
  border: 2px solid;
}
.input2 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  min-width: 237px;
}
.text,
.title3 {
  position: relative;
}
.title3 {
  letter-spacing: 0.9px;
  line-height: 25.99px;
  text-transform: uppercase;
}
.text {
  line-height: 27px;
}
.divplaceholder3,
.inputname3 {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.divplaceholder3 {
  flex: 1;
  overflow: hidden;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
}
.inputname3 {
  align-self: stretch;
  border-radius: var(--br-81xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--green-bg);
  justify-content: center;
  padding: var(--padding-2xl) var(--padding-xl) var(--padding-xl);
  border: 2px solid;
}
.input3,
.insta-icon1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.input3 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
  min-width: 237px;
  z-index: 1;
}
.insta-icon1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-6xl);
}
.message {
  position: relative;
  letter-spacing: 0.9px;
  line-height: 25.99px;
  text-transform: uppercase;
}
.inputname4,
.message-form {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  /* border: 2px solid; */
}
.inputname4 {
  background-color: var(--color-gray-200);
  height: 162px;
  width: auto;
  outline: 0;
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-2xl) 25px;
  font-family: var(--desktop-body-2);
  font-size: var(--desktop-body-size);
  color: var(--white);
  border: 2px solid;
  border-radius: 20px;
}
.message-form {
  height: 220px;
  flex-direction: column;
  gap: var(--gap-xs);
}
.button1 {
  position: relative;
  font-size: var(--desktop-body-2-size);
  letter-spacing: 1.6px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: var(--desktop-body-2);
  color: var(--white);
  text-align: center;
}
.button-11 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xl);
  background-color: var(--green-green);
  width: 202px;
  border-radius: var(--br-61xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
}
.div-placeholder {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.fad8b388a5b8b9f75c21b2b-image-icon {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 22px;
  height: 19px;
  overflow: hidden;
}
.div2 {
  height: 38px;
  width: 38px;
  position: relative;
  border-radius: var(--br-981xl);
  background-color: var(--green-green);
  overflow: hidden;
  flex-shrink: 0;
}
.contactexamplecom {
  position: relative;
  line-height: 29px;
  font-weight: 500;
  white-space: nowrap;
}
.div-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.fad8b388a5b8b9f75c21b2b-image-icon1 {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 22px;
  height: 19px;
  overflow: hidden;
}
.div3 {
  height: 38px;
  width: 38px;
  position: relative;
  border-radius: var(--br-981xl);
  background-color: var(--green-green);
  overflow: hidden;
  flex-shrink: 0;
}
.supportexamplecom {
  position: relative;
  line-height: 29px;
  font-weight: 500;
  white-space: nowrap;
}
.div-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.fad8b388a5b8b9f75c21b2b-image-icon2 {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 22px;
  height: 19px;
  overflow: hidden;
}
.div4 {
  height: 38px;
  width: 38px;
  position: relative;
  border-radius: var(--br-981xl);
  background-color: var(--green-green);
  overflow: hidden;
  flex-shrink: 0;
}
.pressexamplecom {
  position: relative;
  line-height: 29px;
  font-weight: 500;
  white-space: nowrap;
}
.div-container,
.div-wrapper,
.div1 {
  display: flex;
  justify-content: flex-start;
}
.div-container {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-mini);
}
.div-wrapper,
.div1 {
  flex-direction: column;
  align-items: flex-start;
}
.div1 {
  gap: var(--gap-5xl);
  z-index: 1;
}
.div-wrapper {
  height: 254px;
}
.frame-without-children,
.input-name,
.main-header {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.input-name {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 63px;
  font-size: var(--desktop-body-size);
}
.frame-without-children,
.main-header {
  align-items: flex-start;
}
.main-header {
  width: 1070px;
  flex-direction: column;
  gap: 52px;
}
.frame-without-children {
  width: 1238px;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  min-height: 770px;
  text-align: left;
  font-size: var(--desktop-h1-size);
  color: var(--white);
  font-family: var(--desktop-body-2);
}
.faq,
.question-1 {
  position: relative;
  font-weight: 700;
}
.faq {
  margin: 0;
  font-size: inherit;
  letter-spacing: -1px;
  line-height: 79.99px;
  font-family: inherit;
}
.question-1 {
  width: 143px;
  border: 0;
  outline: 0;
  display: flex;
  font-family: var(--desktop-body-2);
  font-size: var(--font-size-9xl);
  background-color: transparent;
  height: 30px;
  letter-spacing: 0.28px;
  line-height: 29.99px;
  color: var(--white);
  text-align: left;
  align-items: center;
}
.div6,
.div7 {
  position: absolute;
  right: 12px;
  bottom: 0;
  border-radius: var(--br-81xl);
  background-color: var(--white);
  width: 2px;
  height: 27px;
}
.div7 {
  right: 0;
  bottom: 12px;
  width: 27px;
  height: 2px;
  z-index: 1;
}
.div5 {
  height: 27px;
  width: 27px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.question {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-13xl) var(--padding-5xs);
  gap: var(--gap-xl);
}
.question-11 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.28px;
  line-height: 29.99px;
  font-weight: 700;
  font-family: inherit;
}
.div10,
.div9 {
  position: absolute;
  border-radius: var(--br-81xl);
  background-color: var(--white);
}
.div9 {
  right: 24.5px;
  bottom: -14.5px;
  width: 2px;
  height: 27px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.div10 {
  right: 0;
  bottom: 12px;
  width: 27px;
  height: 2px;
  z-index: 1;
}
.div8 {
  height: 27px;
  width: 27px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.lorem-ipsum-dolor1,
.question-frame {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.question-frame {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.lorem-ipsum-dolor1 {
  height: 64px;
  position: relative;
  font-size: var(--desktop-body-size);
  line-height: 32px;
}
.question1 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl) var(--padding-5xs);
  gap: var(--gap-base);
}
.question-12 {
  position: relative;
  letter-spacing: 0.28px;
  line-height: 29.99px;
}
.div12,
.div13 {
  position: absolute;
  right: 12px;
  bottom: 0;
  border-radius: var(--br-81xl);
  background-color: var(--white);
  width: 2px;
  height: 27px;
}
.div13 {
  right: 0;
  bottom: 12px;
  width: 27px;
  height: 2px;
  z-index: 1;
}
.div11 {
  height: 27px;
  width: 27px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.question2 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-13xl) var(--padding-5xs);
  gap: var(--gap-xl);
}
.question-13 {
  position: relative;
  letter-spacing: 0.28px;
  line-height: 29.99px;
}
.div15,
.div16 {
  position: absolute;
  right: 12px;
  bottom: 0;
  border-radius: var(--br-81xl);
  background-color: var(--white);
  width: 2px;
  height: 27px;
}
.div16 {
  right: 0;
  bottom: 12px;
  width: 27px;
  height: 2px;
  z-index: 1;
}
.div14 {
  height: 27px;
  width: 27px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.question3 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-13xl) var(--padding-5xs);
  gap: var(--gap-xl);
}
.question-14 {
  position: relative;
  letter-spacing: 0.28px;
  line-height: 29.99px;
}
.div18,
.div19 {
  position: absolute;
  right: 12px;
  bottom: 0;
  border-radius: var(--br-81xl);
  background-color: var(--white);
  width: 2px;
  height: 27px;
}
.div19 {
  right: 0;
  bottom: 12px;
  width: 27px;
  height: 2px;
  z-index: 1;
}
.div17 {
  height: 27px;
  width: 27px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.question4 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-13xl) var(--padding-5xs);
  gap: var(--gap-xl);
}
.footer-nav,
.questions-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.questions-list {
  align-self: stretch;
  align-items: flex-start;
  font-size: var(--font-size-9xl);
}
.footer-nav {
  width: 912px;
  align-items: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  min-height: 750px;
  max-width: 100%;
  font-size: var(--desktop-h1-size);
}
.finance-flow-vector {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 51px;
  height: 30px;
  overflow: hidden;
}
.financeflow-icon1 {
  position: absolute;
  top: 9px;
  left: 63px;
  width: 91.3px;
  height: 11.8px;
}
.finance-flow-vector-parent {
  align-self: stretch;
  height: 30px;
  position: relative;
}
.headerlogo1 {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.e4a1e73807564ccfe7fb93-logo-cr2,
.e4a1e73807564ccfe7fb93-logo-cr3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.e4a1e73807564ccfe7fb93-logo-cr3 {
  flex: 1;
}
.e4a1e73807564ccfe7fb93-logo-cr2 {
  width: 154px;
}
.facebook-icon,
.insta-icon2,
.linked-in-icon {
  height: 36px;
  width: 36px;
  position: relative;
  border-radius: var(--br-981xl);
  overflow: hidden;
  flex-shrink: 0;
  min-height: 36px;
}
.div20,
.socials {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.div20 {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.menu2 {
  position: relative;
  letter-spacing: 0.9px;
  line-height: 25.99px;
  text-transform: uppercase;
}
.menu1 {
  align-self: stretch;
  border-bottom: 1px solid var(--white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 31px;
}
.about1,
.home1,
.pricing1 {
  position: relative;
  letter-spacing: 1.4px;
  line-height: 16px;
  text-transform: uppercase;
}
.menu3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs);
  gap: var(--gap-lg);
}
.blog1,
.contact-us2,
.tokens1 {
  position: relative;
  letter-spacing: 1.4px;
  line-height: 16px;
  text-transform: uppercase;
}
.menu4,
.nav2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.nav2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-sm);
}
.menu,
.navigation1 {
  display: flex;
  justify-content: flex-start;
}
.navigation1 {
  width: 282px;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 102px;
  box-sizing: border-box;
  gap: 35px;
}
.menu {
  width: 509px;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.download-our-application1 {
  position: relative;
  letter-spacing: 0.9px;
  line-height: 25.99px;
  text-transform: uppercase;
}
.lorem-ipsum-dolor2 {
  align-self: stretch;
  height: 64px;
  position: relative;
  line-height: 32px;
  display: flex;
  align-items: center;
}
.download-application-button {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.e4a1e738075653eee7fbdc-icon-ap1 {
  height: 28px;
  width: 23px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.e4a1e738075653eee7fbdc-icon-ap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.0000324249267578125px 0;
}
.download-app {
  position: relative;
  font-size: var(--desktop-body-2-size);
  letter-spacing: 1.6px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: var(--desktop-body-2);
  color: var(--white);
  text-align: center;
}
.button-5 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xl) 26px var(--padding-2xl) var(--padding-13xl);
  background-color: var(--green-green);
  border-radius: var(--br-61xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.e4a1e738075635ede7fbe1-icon-ap1 {
  height: 25px;
  width: 23px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.e4a1e738075635ede7fbe1-icon-ap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.000011150653335789684px 0 0.000011737530257960316px;
}
.play-store {
  position: relative;
  font-size: var(--desktop-body-2-size);
  letter-spacing: 1.6px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: var(--desktop-body-2);
  color: var(--white);
  text-align: center;
}
.button-4,
.buttons,
.download-application-button-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button-4 {
  cursor: pointer;
  border: 0;
  padding: 23px var(--padding-13xl) 22px;
  background-color: var(--green-green);
  border-radius: var(--br-61xl);
  align-items: center;
  gap: var(--gap-5xs);
}
.buttons,
.download-application-button-parent {
  align-items: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.download-application-button-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.download-our-application {
  width: 509px;
  border-radius: 40px;
  background-color: var(--color-gray-200);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-25xl) 55px var(--padding-25xl) 34px;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-div,
.menu-parent {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.menu-parent {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-div {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 92px;
}
.div21 {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
}
.all-rights-reserved {
  position: relative;
  line-height: 26px;
}
.footer-container,
.footer1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-container {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 6px 0 0;
  gap: var(--gap-12xl);
  text-align: center;
  font-size: var(--desktop-body-2-size);
}
.footer1 {
  width: 1246px;
  align-items: center;
  padding: 0 var(--padding-5xl) var(--padding-12xs) 18px;
  box-sizing: border-box;
  gap: 125px;
  max-width: 100%;
}
.contact-us,
.footer {
  display: flex;
  text-align: left;
  color: var(--white);
  font-family: var(--desktop-body-2);
}
.footer {
  align-self: stretch;
  background-color: var(--color-gray-200);
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  min-height: 684px;
  max-width: 100%;
  font-size: var(--desktop-body-size);
}
.contact-us {
  width: 100%;
  position: relative;
  background-color: var(--green-bg);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
  letter-spacing: normal;
  font-size: var(--font-size-3xl);
}
@media screen and (max-width: 1200px) {
  .input-name {
    gap: var(--gap-12xl);
  }
  .menu-parent {
    flex-wrap: wrap;
  }
  .frame-div {
    gap: 46px;
  }
  .footer1 {
    gap: 62px;
  }
}
@media screen and (max-width: 1050px) {
  .navigation {
    display: none;
  }
  .nav1 {
    width: 219px;
  }
  .faq,
  .get-in-touch {
    font-size: var(--font-size-34xl);
    line-height: 64px;
  }
  .footer-nav {
    gap: var(--gap-21xl);
  }
}
@media screen and (max-width: 750px) {
  .nav1 {
    gap: var(--gap-base);
  }
  .insta-icon,
  .insta-icon1 {
    flex-wrap: wrap;
  }
  .div-placeholder {
    min-width: 100%;
  }
  .div-placeholder,
  .input-name {
    gap: var(--gap-base);
  }
  .main-header {
    gap: 26px;
  }
  .buttons {
    flex-wrap: wrap;
  }
  .download-our-application {
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .frame-div {
    gap: var(--gap-4xl);
  }
  .footer-container {
    gap: var(--gap-mini);
  }
  .footer1 {
    gap: var(--gap-12xl);
  }
  .footer {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .contact-us {
    gap: var(--gap-21xl);
  }
}
@media screen and (max-width: 450px) {
  .want-to-reach {
    font-size: var(--desktop-body-size);
    line-height: 25px;
  }
  .faq,
  .get-in-touch {
    font-size: var(--font-size-21xl);
    line-height: 48px;
  }
  .question-1,
  .question-11,
  .question-12,
  .question-13,
  .question-14 {
    font-size: var(--font-size-3xl);
    line-height: 24px;
  }
  .footer-nav {
    gap: var(--gap-xl);
  }
  .div20,
  .nav2 {
    flex-wrap: wrap;
  }
  .navigation1 {
    gap: 17px;
  }
  .menu {
    gap: var(--gap-4xl);
  }
  .footer1 {
    gap: var(--gap-base);
  }
  .contact-us {
    gap: var(--gap-xl);
  }
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7FC1B1;
  padding: 1% 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logobox {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logopng {
  width: 30px;
  margin: -10px 2px 0 0;
}

.logo-gradient-text {
  font-size: 2rem;
  background: linear-gradient(180deg,
          #fdb651,
          #e0710f,
          #d05d00,
          #e0710f,
          #fdb651);
  -webkit-background-clip: text;
  color: transparent;
}

.menues {
  margin-left: 50px;
  display: flex;
  align-items: flex-start;
}

.menu {
  text-decoration: none;
  color: white;
  margin: 0 25px;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  transition: transform 0.3s ease;
}

.menu:hover {
  color: #fc8326;
  border-bottom: 2px solid #fc8326;
  transform: scale(1.05);
}

.loginbtn {
  /* background-color: white; */
  padding: 0.5% 2.5%;
  border: 4px solid #fe9c13;
  background-color: #fe9c13;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 20px;
}

.loginbtn:hover {
  transform: scale(1.05);
}

.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 20px;
  border: 2px solid;
}

.active, .accordion:hover {
  background-color: #7FC1B1; 
}

.panel {
  width: 50%;
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.foot {
  background-color: #7FC1B1;
  color: black;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 70px;
  text-align: left;
}

.foot-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

.foot-top h1 {
  font-size: 4rem;
  width: 80%;
}
.foot-top h1>span{
  background: linear-gradient(45deg,
  #e6fcf1,
  #cbfee5,
  #bbf9db,
  #cbfee5,
  #e6fcf1);
  -webkit-background-clip: text;
color: transparent;    cursor: pointer;
}

.contactusbtn {
  width: 200px;
  font-size: 1.2rem;
  border: 0;
  padding: 1rem 2rem;
  border-radius: 30px;
  background: linear-gradient(45deg,
          #e6fcf1,
          #cbfee5,
          #bbf9db,
          #cbfee5,
          #e6fcf1);
  color: black;
  cursor: pointer;
}
.contactusbtn:hover{
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  color: gray;
}
hr {
  width: 95%;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 40px;
}

.foot-bottom {
  display: flex;
  justify-content: space-around;
}

.foot-bottom p {
  color: rgb(62, 62, 62);
}

.social-icons {
  display: flex;
}

.social-icons>div {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid;
  padding: 2%;
  border-radius: 50%;
}

.foot-bottom>div {
  width: 30%;
}