body{
  font-family: Arial, Helvetica, sans-serif;
}
.navbar5 {
    max-width: 100%;
    height: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7FC1B1;
    padding: 1.5% 5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo-gradient-text {
    font-size: 2.5rem;
    background: linear-gradient(45deg,
            #e6fcf1,
            #cbfee5,
            #bbf9db,
            #cbfee5,
            #e6fcf1);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 1.5px 1.5px 2px #D5F8E7;
    font-weight: bold;
    cursor: pointer;
}

.menues {
    display: flex;
    align-items: center;
}

.menu5 {
    text-decoration: none;
    color: white;
    margin: 0 25px;
    font-size: 1.2rem;
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
}

.menu5:hover {
    color: #D5F8E7;
    border-bottom: 2px solid #D5F8E7;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.loginbtn {
    background: linear-gradient(90deg,
            #e1fdef,
            #d0f9e5,
            #c9fce2,
            #d0f9e5,
            #e1fdef);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.loginbtn:hover {
    transform: scale(1.05);
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}

.hamburger-btn {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

.heading {
  text-align: center;
  font-size: 4vw;
  margin-bottom: 0;
}
.gradient-text {
  background: linear-gradient(45deg,
          #98decd,
          #71b4a4,
          #57a693,
          #71b4a4,
          #98decd);
  -webkit-background-clip: text;
  color: transparent;
}

@media all and (max-width:750px){
/* navbar */
.logo-gradient-text {
    font-size: 1.5rem;
}
.loginbtn{
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 8px;
}
.menu5{
    font-size: 1rem;
    margin: 0 10px;
}

}
@media only screen and (max-width: 500px) {
    .navbar{
        padding: 6% 5%;
    }
    .menues {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 68px;
        right: 0; 
        width: 40%;
        background-color: #7FC1B1;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 99;
    }
    
    .menu5 {
        margin: 10px;
        font-size: .9rem;
    }
    
    .hamburger-btn {
        display: block;
    }

    .loginbtn{
        padding: -10px 5px;
        font-size: 0.8rem;
        border-radius: 5px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 1200px) {
  .input-name {
    gap: var(--gap-12xl);
  }
  .menu-parent {
    flex-wrap: wrap;
  }
  .frame-div {
    gap: 46px;
  }
}
@media screen and (max-width: 1050px) {
  .navigation {
    display: none;
  }
  .nav1 {
    width: 219px;
  }
  .faq,
  .get-in-touch {
    font-size: var(--font-size-34xl);
    line-height: 64px;
  }
}
@media screen and (max-width: 750px) {
  .nav1 {
    gap: var(--gap-base);
  }
  .insta-icon,
  .insta-icon1 {
    flex-wrap: wrap;
  }
  .div-placeholder {
    min-width: 100%;
  }
  .div-placeholder,
  .input-name {
    gap: var(--gap-base);
  }
  .main-header {
    gap: 26px;
  }
  .buttons {
    flex-wrap: wrap;
  }
  .download-our-application {
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .frame-div {
    gap: var(--gap-4xl);
  }
  .footer-container {
    gap: var(--gap-mini);
  }
  .footer1 {
    gap: var(--gap-12xl);
  }
  .footer {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .contact-us {
    gap: var(--gap-21xl);
  }
}
@media screen and (max-width: 450px) {
  .want-to-reach {
    font-size: var(--desktop-body-size);
    line-height: 25px;
  }
  .faq,
  .get-in-touch {
    font-size: var(--font-size-21xl);
    line-height: 48px;
  }
  .question-1,
  .question-11,
  .question-12,
  .question-13,
  .question-14 {
    font-size: var(--font-size-3xl);
    line-height: 24px;
  }
  .footer-nav {
    gap: var(--gap-xl);
  }
  .div20,
  .nav2 {
    flex-wrap: wrap;
  }
  .navigation1 {
    gap: 17px;
  }
  .menu {
    gap: var(--gap-4xl);
  }
  .footer1 {
    gap: var(--gap-base);
  }
  .contact-us {
    gap: var(--gap-xl);
  }
}

.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 20px;
  border: 2px solid;
}

.active, .accordion:hover {
  background-color: #7FC1B1; 
}

.panel {
  width: 50%;
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
.footer {
  background-color: #7FC1B1;
  color: black;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  text-align: left;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  margin-top: 30px;
}

.footer-top h1 {
  font-size: 4vw;
  width: 80vw;
}

.footer-top h1>span {
  background: linear-gradient(45deg,
          #e6fcf1,
          #cbfee5,
          #bbf9db,
          #cbfee5,
          #e6fcf1);
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}

.contactusbtn {
  width: 12vw;
  font-size: 1.2vw;
  border: 0;
  padding: 1vw 2vw;
  border-radius: 1.2vw;
  font-size: 1.2vw;
  background: linear-gradient(45deg,
          #e6fcf1,
          #cbfee5,
          #bbf9db,
          #cbfee5,
          #e6fcf1);
  color: black;
  cursor: pointer;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;

}

.contactusbtn:hover {
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  color: gray;
}

hr {
  width: 95%;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 4vw;
}

.footer-bottom {
  display: flex;
  justify-content: space-around;
}

.footer-bottom p , .copyright{
  color: rgb(62, 62, 62);
  font-size: 1.1vw;
}

.social-icons{
  display: flex;
}

.social-icons>div {
  width: 2.5vw;
  height: 2.5vw;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2%;
  cursor: pointer;
  border: .15vw solid;
  padding: .5vw;
  border-radius: 50%;
  transition: transform 0.4s ease;
}
.social-icons i{
  font-size: 1.7vw;
}
.social-icons>div:hover {
  transform: scale(0.33);
}

  .footer-bottom>div {
  width: 30%;
}
.Footerheading{
  font-size: 1.5vw;
}
.quickmenues>div{
  display: flex; 
  gap: 8vw;
}
.quickmenues a{
  text-decoration: none;
  color: rgb(62, 62, 62)
}
.quickmenu {
  cursor: pointer;
}

.quickmenu:hover {
  width: 70px;
  color: black;
  border-bottom: 2px solid;
}

.location>p {
  cursor: pointer;
  margin: 10px
}

.location>p:hover {
  color: black;
}

.copyright{
  color:  rgb(62, 62, 62);
  text-align: end;
}

@media all and (max-width:400px){
  .footer-top h1{
      font-size: 5vw;
  }
 .footer-bottom{
      flex-direction: column;
 }
 .footer-bottom h2{
  font-size: 3.5vw;
 }
 .footer-bottom p{
  font-size: 3vw;
 }
 .footer-bottom>div{
  width: 100%;
 }
 .contactusbtn{
  font-size: 2vw;
 }
 .copyright{
  font-size: 1.6vw;
 }
} 

/* ContactUs */

*{
 
  box-sizing: border-box;
}
body{
  background: #aef0e1; 
}
body, input,textarea, a{
  font-family: 'Roboto', sans-serif;
}
#section-wrapper{
  width: 100%;
  padding: 10px;
}
.box-wrapper{
  position: relative;
  display: table;
  width:1100px;
  margin:auto;
  margin-top:35px;
  border-radius: 30px;
}
.info-wrap{
  width:35%;
  height: 593px;
  padding: 40px;
  float: left;
  display: block;
  border-radius: 30px 0px 0px 30px;
  background: linear-gradient(144deg, #bdebe0 0%, #54bca4 49%);
  color: #fff;
}
.info-title{
  text-align: left;
  font-size: 28px;
  letter-spacing: 0.5px;
}
.info-sub-title{
  font-size: 18px;
  font-weight: 300;
  margin-top: 17px;
  letter-spacing: 0.5px;
  line-height: 26px;
}
.info-details {
  list-style: none;
  margin: 60px 0px;
}
.info-details li {
  margin-top: 25px;
  font-size: 18px;
  color: #fff;
}
.info-details li i {
  background: #000000;
  padding: 12px;
  border-radius: 50%;
  margin-right: 5px;
}
.info-details li a {
  color: #fff;
  text-decoration: none;
}
.info-details li a:hover {
  color: #000000;
}
.social-icons {
  list-style: none;
  text-align: center;
  margin: 20px 0px;
}
.social-icons li {
  display: inline-block;
}
.social-icons li i {
  background: #010000;
  color: #fff;
  padding: 15px;
  font-size: 20px;
  border-radius: 22%;
  margin: 0px 5px;
  cursor: pointer;
  transition: all .5s;
}
.social-icons li i:hover {
  background: #fff;
  color: #000000;
}
.form-wrap{
  width:65%;
  float: right;
  padding:40px 25px 35px 25px;
  border-radius: 0px 30px 30px 0px;
  background: #ecf0f3;
}
.form-title{
  text-align: left;
  margin-left: 23px;
  font-size: 28px;
  letter-spacing: 0.5px;
}
.form-fields{
  display: table;
  width: 100%;
  padding: 15px 5px 5px 5px;
}
.form-fields input,
.form-fields textarea{
  border: none;
  outline:none;
  background: none;
  font-size: 18px;
  color:#555;
  padding: 20px 10px 20px 5px;
  width:100%
}
.form-fields textarea{
  height: 150px;
  resize: none;
}
.form-group{
  width: 46%;
  float: left;
  padding: 0px 30px;
  margin: 14px 12px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}
.form-fields .form-group:last-child {
  width: 96%;
}
.submit-button{
  width: 96%;
  height: 60px;
  margin: 0px 12px;
  border-radius: 30px;
  font-size: 20px;;
  font-weight: 700;
  outline: none;
  border:none;
  cursor: pointer;
  color:#fff;
  text-align: center;
  background: #55ba89;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  transition: .5s;
}
.submit-button:hover{
  background: #35927c;
}


/* Responsive css */

@media only screen and (max-width: 767px) {
  .box-wrapper{
      width: 100%;
  }
  .info-wrap,
  .form-wrap{
      width: 100%;
      height: inherit;
      float: none;  
  }
  .info-wrap{
      border-radius: 30px 30px 0px 0px;
  }
  .form-wrap{
      border-radius: 0px 0px 30px 30px;
  }
  .form-group{
      width: 100%;
      float: none;
      margin: 25px 0px;
  }
  .form-fields .form-group:last-child, 
  .submit-button{
      width: 100%;
  }
  .submit-button{
      margin: 10px 0px;
  }
 
}