* {
  margin: 0;
}

/*------------------------------- Navbar------------------------------------------- */
.navbar {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7fc1b1;
  padding: 1.5% 5%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  margin-top: -2px;
}

.logobox {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.logo-gradient-text {
  font-size: 2rem;
  background: linear-gradient(
    45deg,
    #e6fcf1,
    #cbfee5,
    #bbf9db,
    #cbfee5,
    #e6fcf1
  );
  -webkit-background-clip: text;
  color: transparent;
}

.menues {
  display: flex;
  align-items: center;
}

.menu {
  text-decoration: none;
  color: white;
  margin: 0 25px;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  transition: transform 0.3s ease;
}

.menu:hover {
  color: #434d4a;
  border-bottom: 2px solid #434d4a;
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.loginbtn {
  background: linear-gradient(
    45deg,
    #e6fcf1,
    #cbfee5,
    #bbf9db,
    #cbfee5,
    #e6fcf1
  );
  color: black;

  padding: 0.7% 2.5%;
  border: none;
  border-radius: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.loginbtn:hover {
  transform: scale(1.05);
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
}


  /*-------cheching-------------*/

  @import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap');
html,body {
    font-family: 'Raleway', sans-serif;  
}
.thankyou-page ._header {
    background: #7ab8af;
    padding: 130px 30px;
    text-align: center;
    background: #5db7a9 url(https://codexcourier.com/images/main_page.jpg) center/cover no-repeat;
}
.thankyou-page ._header .logo {
    max-width: 200px;
    margin: 0 auto 50px;
}
.thankyou-page ._header .logo img {
    width: 100%;
}
.thankyou-page ._header h1 {
    font-size: 65px;
    font-weight: 800;
    color: white;
    margin: -30px;
}
.thankyou-page ._body {
    margin: -90px 0 30px;
}
.thankyou-page ._body ._box {
    margin: auto;
    max-width: 80%;
    padding: 50px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 35px rgba(10, 10, 10,0.12);
    -moz-box-shadow: 0 0 35px rgba(10, 10, 10,0.12);
    -webkit-box-shadow: 0 0 35px rgba(10, 10, 10,0.12);
}
.thankyou-page ._body ._box h2 {
    font-size: 32px;
    font-weight: 600;
    color: #0a8270e2;
}
.thankyou-page ._footer {
    text-align: center;
    padding: 0px 30px;
}

.thankyou-page ._footer .btn {
    background: #6fb8ad;
    color: white;
    border: 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
    letter-spacing: 0.8px;
    padding: 20px 33px;
    text-transform: uppercase;
    

}

.thankyou-page ._footer .btn:hover{
    background: #15675a;
}
._footer a{
  color: #02978a;
}
#checkmark{
  height: -8px;
  width: auto;
  justify-content: center;
  align-items: center;
}